body
{
    background-color:rgb(116, 161, 167);
}

.header, .main, .footer
{
    width: 80%;
    margin:10px auto;
}
/* header */
.header 
{
    background-color: rgb(209 234 244);
    height: 100px;
}
    /* menu bar */
    .logo
    {
        float: left;
    }
    .logo img
    {
        height: 80px;
        width: 200px; 
        margin: 5px;  
    }
    .menu
    {
        float: right;
        margin: 20px;
    }
    .menu ul li
    {
        list-style: none;
        display: inline;
        
    }
    .menu ul li:not(:last-child)
    {
        margin-right: 50px;
    }
    .menu ul li a
    {
        text-decoration: none;
        font-size: 20px;
        color: rgb(64, 121, 93);
        border-style: solid;
        border-color: rgb(68, 68, 64);
        border-width: 2px;
        padding: 5px;
    }
    .menu ul li a:hover
    {
        background-color: lightcyan;
    }

/* main part */
.main
{
    height: 80vh;
    background-color: rgb(156 192 207);
}
    /* sidebar */
    .sidebar
    {
        height: 100%;
        width: 20%;
        background-color: rgb(98, 174, 204);
        float: left;
        overflow: hidden;
    }
    .sidebar a
    {
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        color: rgb(36, 34, 34);
        background-color: rgb(109, 148, 135);
        padding: 5px;
        display: block;
        border: 2px solid black;
    }
    .sidebar a:hover
    {
        background-color: rgb(112, 206, 206);
        color: darkgreen;
        
    }
    /*body*/
    .homepage
    {
        height: 100%;
        width: 80%;
        /* background-color: blue; */
        float: left;
    }
    .homepage img{
        height: 50%px;
        width: 50%;
        display: block;
        margin: auto;
       
    }
    .about
    {
        float: left;
        width: 80%;
    }
    .about img
    {
        height: 500px;
        width: 80%;
        display: block;
        margin: auto;
    }
    .about p
    {
        text-align: center;
    }
    .contact
    {
        float: left;
        width: 80%;
        padding-top: 10%;
    }
    .contact p{
        text-align: center;
        font-size: 20px;
    }
    .extra
    {
        background-color: blue;
        height: 100%;
        width: 80%;
        float: left;
    }
    .extra p{
        padding: 20px;
    }

/* footer */
.footer
{
    height: 100px;
    background-color: rgb(209 234 244);
}
.footer p{
    text-align: center;
    line-height: 6em;
}
